html{
    background-color:#e2e8f0;
font-family: 'Roboto', sans-serif;
}

#topnav {
overflow: hidden;
background-color: #d1d5db;
}
#topnav a {
float: left;
display: inline;
color: #3f3f46;
text-align: center;
padding: 10px 10px;
font-size: 20px;
border-radius: 20px;
text-decoration: none;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#topnav a:hover {
background-color:#1e293b;
}
ul {
    list-style-type:none ;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}


.div1 {
margin: 2px;
padding: 5px;
background-color:#64748b;
border-radius: 5px;
}
.div2 {
margin: 2px;
padding: 5px;
background-color:#475569;
border-radius: 5px;
font-size: 19px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 15%;
}
.div3 {
margin: 2px;
padding: 5px;
background-color: #1e293b;
border-radius: 5px;
font-size: 19px;
}
.div4{
margin: 2px;
padding: 5px;
background-color:#334155;
border-radius: 5px;
font-size: 19px;
}
.div5{
padding: 5px;
margin: 2px;
background-color:#334155;
border-radius: 5px;
font-size: 19px;
}
.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    background-color: #64748b;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
}
.top{
    display: block;
    text-decoration: none;
    color: #1e293b;
    background-color: #64748b;
}
.footer {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
background-color: #f1f5f9;
text-align: center;
color:#0f172a;
padding: 1px;
border-radius: 5px;
}
